body{
    margin: 0px;
    padding: 0px;
    font-family: calibri;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    width: 100%;
    height: 100vh;
    background-position: top left;
    position: relative;
}

/*navigation*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: #fff;
    box-shadow: 2px 2px 20px rgba(90,118,253,0.13);
    z-index: 2;
    width: 100%;
    position: fixed;
}
nav .menu-btn{
    display: none;
}
nav ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}
nav ul li a{
    display: flex;
    height: 40px;
    line-height: 43px;
    margin: 10px;
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 500;
    color: #111;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: #6b85ff;
    color: #fff;
    box-shadow: 1px 1px 20px rgba(90, 118, 253, 0.5);
    /*transition: background-color color box-shadow 0.2s;*/
    transition: all 0.2s;
    border-radius: 0.4em;
}

/*home*/
.home-content{
    display: flex;
    left: 50%;
    top: 50%;
    width: 90%;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    justify-content: space-around;
}
.home-text{
    width: 500px;
    margin: 20px;
}
.home-text h1{
    font-size: 50px;
    line-height: 55px;
    color: #22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.home-text p{
    font-size: 20px;
    color: #777474;
    animation-duration: 3s;
    animation-name: slidein;
}
.home-image{
    width: 500px;
    height: 500px;
    margin: 20px;
}
.home-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

@keyframes slidein {
    from {
        margin-left: 50%;
        width: 300%;
    }

      to {
        margin-left: 0%;
        width: 100%;
    }
}

.login{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a76fd;
    color: #fff;
    box-shadow: 1px 1px 25px rgba(90,118,253,0.5);
    text-transform: uppercase;
    border-radius: 5em;
    letter-spacing: 1.5px;
}
.login:hover{
    background-color: #6b85ff;
    transition: all 0.3s;
}

/*prosedur*/
.prosedur{
    background-size: auto;
    background-position: center;
    background-color: #F2F2F2;
}
.prosedur-heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.prosedur-heading h2{
    line-height: 55px;
    font-size: 38px;
    color: #22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 20px;
}
.prosedur-heading p{
    font-size: 17px;
    color: #777474;
    width: 50%;
    margin-top: auto;
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 60px;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgba(90,118,253,0.15);
    border-radius: 10px;
    margin: 20px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    text-align: center;
}
.box img{
    height: 150px;
    margin: 10px;
}
.box font{
    font-size: 24px;
    color: #22252e;
    letter-spacing: 1px;
    font-weight: 700;
}
.box p{
    font-size: 17px;
    color: #777474;
    max-width: 300px;
}

/*kontak*/
.kontak{
    background-size: 1000px;
    background-position: center;
    position: relative;
}
.kontak-heading{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.kontak-heading h2{
    line-height: 55px;
    font-size: 38px;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.kontak-heading p{
    font-size: 17px;
    color:#777474;
    width:50%;
}
.box-kontak{
    display: flex;
    background-color: #fff;
    box-shadow: 2px 2px 30px 2px rgba(90,118,253,0.15);
    border-radius: 20px;
    margin: 20px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    text-align: center;
}

/*form*/
input, textarea {
    width: 100%;
    padding: 0.6em;
    margin-bottom: 1.5em;
    border-radius: .3em;
    border: 1px solid gray;
}
label{
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
}

/*footer*/
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    /*border-top: 1px solid rgba(167, 167, 167, 0.2);*/
    box-shadow: 2px 2px 30px 2px rgb(90 118 253 / 15%);
}
footer a,
footer p,
footer ul,
footer li{
    color: #5e5e5e;
    list-style: none;
}


@media (max-width: 1100px){
    nav{
        justify-content: space-between;
        height: 65px;
    }
    .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #fff;
        border-bottom: 4px solid #5a76fd;
        width: 100%;
    }
    .menu li{
        width: 100%;
    }
    nav .menu li a{
        width: 100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid rgba(38, 38, 38, 0.03);
    }
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    nav .menu-icon .nav-icon:before{
        top: 5px;
    }
    nav .menu-icon .nav-icon:after{
        top: -5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
}


@media (max-width: 720px){
    .home-text p{
        width: 70%;
        text-align: center;
    }
    .home-content h1{
        font-size: 32px;
        padding: 10px 10px;
        line-height: 30px;
    }
    .timing{
        width: 100%;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px 20px;
    }
    .prosedur-heading{
        margin: 20px;

    }
    .prosedur-heading h2{
        font-size: 30px;
        line-height: 40px;
    }
    .prosedur-heading p{
        width: 100%;
    }
    .box{
        width: 100%;
        margin: 20px 0px !important;
        padding: 0px 20px;
        flex-grow: 1;
    }
    .box img{
        height: 100px;
        width: 100%;
        object-fit: contain;
    }
    .kontak-heading{
        margin: 20px;
    }
    .kontak-heading h2{
        font-size: 30px;
        line-height: 40px;
    }
    .kontak-heading p{
        width: 100%;
    }
    footer p, a, ul, li{
        font-size: 18px;
        text-align: center;
    }
    footer{
        padding: 0px 10px;
    }
}
